*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-familsy: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #f8f6f6);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 19px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(54, 102, 197, 0.5);

}

input{
    width: 320px;
    border:lavender;
    padding: 20px;
    margin: 10px;
    background:rgba(27, 193, 193, 0.601);
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 42px;
    text-align:right;
    cursor:pointer;
    color: #da1515;
}

input::placeholder{
    color: #c71818;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-square: 50%;
    background: transparent;
    color: #250ce3;
    font-size: 30px;
    box-shadow: -8px -8px 15px rgba(9, 10, 11, 0.972);
    cursor: pointer;
}

.equalBtn{
    background-color: #bcde14;
}

.operator{
    font-size: 30px;
    color: #090809a6;
}